<div class="py-5" [class.loading]="loadingService.loading">

  <div class="text-center h1">
    <i class="hut-icon hut-icon--large"></i>
  </div>

  <h1 class="text-uppercase">Welcome to your garden, {{ userService.currentUser?.firstName }}</h1>

  <p>This is where you can add and remove the plants & items you currently have in your garden.</p>
  <p class="mb-5">We will send you timely tasks and reminds for each item in your garden, to help you keep on top of
    things come rain of shine.</p>

  <div class="my-garden--popular my-2" *ngIf="popularGardenObjects.length">
    <h2 class="h2 mt-3">Popular Garden Items</h2>
    <p>Here are some popular items </p>

    <ng-container *ngFor="let item of popularGardenObjects">
      <button mat-raised-button class="m-2" (click)="addItemToUserGarden(item)">{{ item.name }}
        <mat-icon color="primary" aria-hidden="false" aria-label="Add to garden">add_circle</mat-icon>
      </button>
    </ng-container>
  </div>

  <div class="my-garden--owned">
    <p *ngIf="!userGardenObjects?.length" class="my-4">You do not have any items in your Garden, add some below</p>

    <!-- Move into its own component? -->
    <div class="row mt-4">
      <div *ngFor="let item of userGardenObjects" class="col-6 col-lg-3">
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="item.description">
            <p>{{ item.description }}</p>
          </mat-card-content>
          <mat-card-content *ngIf="item.gardenTasks.length">
            <p>Has {{ item.gardenTasks.length }} tasks, including: <em>{{ item.gardenTasks[0].title }}</em></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="warn" (click)="removeItemFromUserGarden(item)">
              Remove from Garden
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>

  <h2>User Garden</h2>
  <pre>{{ userGarden | json }}</pre>
  <h2>User Garden Objects</h2>
  <pre>{{ userGardenObjects | json }}</pre>

</div>