<div class="py-5">

  <div class="d-flex ">
    <h1 class="h1 my-0">Edit Garden Objects</h1>
    <div class="ml-auto">
      <button mat-raised-button color="primary" (click)="addNewGardenObject()">Add New</button>
    </div>
  </div>

  <mat-form-field class="w-100">
    <mat-icon matPrefix class="mr-3">search</mat-icon>
    <input matInput type="search" placeholder="Search for an item" class="search-input" [(ngModel)]="searchTerm"
      (keydown.enter)="searchForGardenObject()">
    <button matSuffix mat-button class="ml-1" (click)="searchForGardenObject()">Search</button>
    <button mat-icon-button matSuffix class="mr-3" (click)="searchTerm = ''; searchForGardenObject()" *ngIf="searchTerm">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="gardenObjects" [class.loading]="loadingService.loading">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description | truncate}} </td>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>Tasks</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip>{{element.gardenTasks?.length || '0'}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-right">Actions</th>
      <td mat-cell *matCellDef="let element" class="text-right">
        <button mat-mini-fab color="warn" aria-label="Delete" class="mr-2" (click)="openDeleteDialog(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <a mat-mini-fab color="primary" aria-label="Edit" routerLink="{{element.id}}">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="25" [length]="gardenObjectsCount" (page)="updatePage($event)"></mat-paginator>


  <div *ngIf="suggestions.length">

    <h2 class="h1 mt-5">Suggestions for new Garden Items</h2>
    <table mat-table [dataSource]="suggestions" [class.loading]="loadingService.loading">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="text-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <button mat-mini-fab color="warn" aria-label="Delete" class="mr-2"
            (click)="openDeleteDialogSuggestions(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab color="primary" aria-label="Create new from suggestion"
            (click)="addNewGardenObject(element)">
            <mat-icon>add_box</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSuggestions"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSuggestions;"></tr>
    </table>

  </div>

</div>
