<h1 class="mt-5 text-center">Reset your Password</h1>

<form name="rpform"
  (ngSubmit)="rpform.form.valid && confirmPassword.value === password.value && onPasswordChangeRequest()"
  #rpform="ngForm">
  <div class="form-row">
    <div class="form-group col">
      <label>Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="formModel.password" #password="ngModel"
        [ngClass]="{ 'is-invalid': rpform.submitted && password.invalid }" required minlength="8">
      <div *ngIf="rpform.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors?.required">Password is required</div>
        <div *ngIf="password.errors?.minlength">Password must be at least 8 characters</div>
      </div>
    </div>
    <div class="form-group col">
      <label>Confirm Password</label>
      <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="formModel.confirmPassword"
        #confirmPassword="ngModel"
        [ngClass]="{ 'is-invalid': rpform.submitted && confirmPassword.invalid || confirmPassword.touched && confirmPassword.value !== password.value }"
        required>
      <div *ngIf="rpform.submitted && confirmPassword.invalid" class="invalid-feedback">
        <div *ngIf="confirmPassword.errors?.required">Confirm Password is required</div>
      </div>
      <div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="invalid-feedback">
        Passwords must match</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <button type="submit" mat-raised-button color="primary" class="w-100">Reset Password</button>
    </div>
  </div>
</form>
