<aside class="py-5" *ngIf="currentlyEditingObject">
  <h1 class="h1 my-0">Edit Garden Object "{{ currentlyEditingObject.name }}"</h1>

  <div class="my-3" [class.loading]="loadingService.loading">

    <mat-form-field class="w-100">
      <input matInput placeholder="Name" [(ngModel)]="currentlyEditingObject.name">
    </mat-form-field>

    <mat-form-field class="w-100">
      <textarea matInput placeholder="Description" rows="5" [(ngModel)]="currentlyEditingObject.description"></textarea>
    </mat-form-field>

    <!-- <mat-form-field class="w-100">
      <input matInput placeholder="Icon Class" [(ngModel)]="currentlyEditingObject.icon">
    </mat-form-field> -->

    <h2>Garden Tasks</h2>

    <!-- <mat-accordion>
      <mat-expansion-panel *ngFor="let task of currentlyEditingObject.gardenTasks; index as i"
        [expanded]="taskOpened === i" (opened)="setOpened(i)">
        <mat-expansion-panel-header>
          <h3 class="h6 my-0">{{ task.name }}</h3>
        </mat-expansion-panel-header>

        <mat-form-field class="w-100">
          <input matInput placeholder="Name" [(ngModel)]="task.name">
        </mat-form-field>

        <mat-form-field class="w-100">
          <textarea matInput placeholder="Description" rows="5" [(ngModel)]="task.description"></textarea>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Task Day</mat-label>
          <mat-select [(ngModel)]="task.day" name="day" (selectionChange)="sortTasksByDate()">
            <mat-option *ngFor="let day of days" [value]="day.value">
              {{day.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Task Month</mat-label>
          <mat-select [(ngModel)]="task.month" name="month" (selectionChange)="sortTasksByDate(i)">
            <mat-option *ngFor="let month of months" [value]="month.value">
              {{month.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="deleteTask(i)">Delete</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion> -->

    <!-- <div class="text-right mt-3">
      <button mat-raised-button color="primary" (click)="addNewTask()" [disabled]="!currentlyEditingObject.id">
        <span>Add New Task</span>
      </button>
      <p *ngIf="!currentlyEditingObject.id">Please save before adding tasks</p>
    </div> -->

    <div class="text-right mt-3">
      <button mat-raised-button color="accent" (click)="back()">Back</button>
      <button mat-raised-button color="primary" (click)="saveCurrentlyEditing()" class="ml-2">
        {{!currentlyEditingObject.id ? 'Create' : 'Save' }}
        "{{currentlyEditingObject.name }}"</button>
    </div>

  </div>

</aside>
