<header class="bg-primary text-white clearfix">
  <div class="container d-flex">
    <h1 class="mb-0">Garden Buddy</h1>
    <nav class="navbar navbar-expand navbar-dark ml-auto">
      <div class="navbar-nav mt-2">
        <ng-container *ngIf="!resetMode">

        <a mat-button class="nav-item nav-link" *ngIf="currentUserToken" routerLink="/">Garden Tasks</a>
        <a mat-button class="nav-item nav-link" *ngIf="currentUserToken" routerLink="/gardens">My Garden</a>
        
        <button mat-button [matMenuTriggerFor]="adminmenu" *ngIf="userService.hasRole('garden-admin')">Admin</button>
        <mat-menu #adminmenu="matMenu">
          <a mat-menu-item routerLink="/administration/garden-objects" *ngIf="userService.hasRole('garden-admin')">Garden
            Objects</a>
          <a mat-menu-item routerLink="/administration/users" *ngIf="userService.hasRole('user-admin')">Users</a>
        </mat-menu>

        <button mat-button class="nav-item nav-link" *ngIf="currentUserToken" (click)="logout()">Logout</button>
      </ng-container>
        <a mat-button class="nav-item nav-link" *ngIf="!currentUserToken" routerLink="/login">Login</a>
      </div>
    </nav>
  </div>
</header>
