<div class="py-5">

  <div class="text-center h1">
    <i class="hut-icon hut-icon--large"></i>
  </div>

  <h1 class="text-uppercase text-center">Welcome to Green Fingers</h1>

  <div class="my-4 text-center">

    <p>Green Fingers is a place where you can add and remove the plants & items you currently have in your garden.</p>
    <p class="mb-4">We will send you timely tasks and reminds for each item in your garden, to help you keep on top of
      things come rain of shine.</p>

    <a routerLink="login" [queryParams]="{mode: 'register'}" mat-raised-button color="primary" class="w-25">Register</a>
    <div class="mt-2">
      <p class="d-inline-block">or</p>
      <a routerLink="login" mat-button color="primary">Login</a>
    </div>

  </div>

</div>
